@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    height: 800px;
    Font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    color: hsl(0, 36%, 70%);
}

main {
    height: 100%;
    display: flex;
}

@media(min-width:420px) {
    .text {
        width: 830px;
        height: 800px;
        background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
        justify-content: center;
    }

    #image-mob {
        display: none;
    }

    h1 {
        margin-top: 134px;
        margin-bottom: 16px;
        line-height: 66px;
        font-size: 64px;
        letter-spacing: 17px;
    }

    span {
        line-height: 70px;
    }

    p {
        line-height: 1.75rem;
        margin-bottom: 40px;
    }

    .box {
        margin-top: -49px;
        width: 444px;
        height: 600px;
    }

    form {
        width: 440px;
        height: 56px;
    }

    #form {
        width: 270px;
    }

    .submit {
        width: 99px;
        height: 56px;
    }
}

@media(max-width:420px) {
    main {
        justify-content: center;
        align-items: center;
    }

    .text {
        width: 375px;
        height: 800px;
        background: hsl(0, 100%, 98%);
    }

    #side-img {
        display: none;
    }

    #logo {
        margin: 32px;
        height: 20px;
        align-self: flex-start;
    }

    h1 {
        margin-top: 64px;
        line-height: 43px;
        font-size: 40px;
        letter-spacing: 11px;
        text-align: center;
        margin-bottom: 10px;
    }

    span {
        line-height: 42px;
    }

    p {
        text-align: center;
        line-height: 22px;
        width: 311px;
        margin-top: 0;
        font-size: 14px;
        margin-bottom: 30px;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 375px;
    }

    form {
        width: 311px;
        height: 48px;
    }

    #form {
        width: 220px;
    }

    .submit {
        width: 64px;
        height: 48px;
    }
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#side-img {
    width: 610px;
    height: 800px;
}


h1 {
    text-transform: uppercase;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
}

span {
    font-weight: 600;
    color: hsl(0, 6%, 24%);
}

form {
    box-sizing: border-box;
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 29px;
    border: solid #D9C9CC 1px;
    justify-content: space-between;
}

.submit {
    padding: 0;
    border-radius: 29px;
    border: none;
    left: 2px;
    position: relative;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

#forms {
    margin-left: 25px;
    height: 95%;
    border-radius: 28px;
    border: none;
    outline: none;
    background: transparent;
}

::placeholder {
    color: hsl(0, 36%, 70%);
}

button:hover {
    cursor: pointer;
    background: #F8CECF;
    box-shadow: 0 10px 20px hsl(0deg 36% 70%)
}

form:hover {
    border: solid hsl(0, 74%, 74%) 2px;
}

.invalid {
    color: hsl(0, 93%, 68%);
    margin-left: 29px;
    margin-top: 8px;
    display: none;
}

#error {
    margin-right: 14px;
    display: none;
}